[Desktop Entry]
Version=1.0
Categories=Cracking;
Exec=sh -c 'crunch --help; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-default.png
Name=Crunch
Terminal=true
Type=Application
