[Desktop Entry]
Version=1.0
Categories=Reporting;
Exec=sh -c 'dos2unix --help; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-default.png
Name=Dos2Unix
Terminal=true
Type=Application
