[Desktop Entry]
Version=1.0
Categories=Wireless;
Exec=sh -c 'cowpatty -h; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-default.png
Name=CowPatty
Terminal=true
Type=Application
