[Desktop Entry]
Version=1.0
Categories=Networking;
Exec=sh -c 'medusa; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-default.png
Name=Medusa
Terminal=true
Type=Application
