[Desktop Entry]
Version=1.0
Categories=Web Applications;
Exec=sh -c 'wpscan -h; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-wpscan.png
Name=WPScan
Terminal=true
Type=Application
