[Desktop Entry]
Version=1.0
Categories=Wireless;
Exec=sh -c 'kismet; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-default.png
Name=Kismet
Terminal=true
Type=Application
