[Desktop Entry]
Version=1.0
Categories=Crypto;
Exec=sh -c '/opt/blackbuntu/cryptocurrencies/monero/monero-wallet-gui; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-monero.png
Name=Monero
Terminal=false
Type=Application
