[Desktop Entry]
Version=1.0
Categories=Stress Testing;
Exec=sh -c 'dhcpig --help; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-default.png
Name=Dhcpig
Terminal=true
Type=Application
