[Desktop Entry]
Version=1.0
Categories=Forensics;
Exec=sh -c 'galleta; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-default.png
Name=Galleta
Terminal=true
Type=Application
