[Desktop Entry]
Version=1.0
Categories=Information Gathering;
Exec=sh -c 'dnswalk; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-default.png
Name=Dnswalk
Terminal=true
Type=Application
