[Desktop Entry]
Version=1.0
Categories=Cracking;
Exec=sh -c 'hydra; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-hydra.png
Name=Hydra
Terminal=true
Type=Application
