[Desktop Entry]
Version=1.0
Categories=Information Gathering;
Exec=sh -c 'sudo p0f; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-default.png
Name=P0f Framework
Terminal=true
Type=Application
