[Desktop Entry]
Version=1.0
Categories=Wireless;
Exec=sh -c 'mfoc --help; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-default.png
Name=Mfoc
Terminal=true
Type=Application
