[Desktop Entry]
Version=1.0
Categories=Social Engineering;
Exec=sh -c 'httrack --help; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-default.png
Name=Httrack
Terminal=true
Type=Application
