[Desktop Entry]
Version=1.0
Categories=Hardening;
Exec=sh -c 'apktool --help; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-default.png
Name=ApkTool
Terminal=true
Type=Application
